@using WaiterManagement.Web.Controllers
@model WaiterManagement.Web.Models.LogInUser

@{
	ViewBag.Title = "Log In";
	Layout = "AccountLayout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { Id = "my_form" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	<table>
		<tr>
			<td>@Html.LabelFor(x => x.Username)</td>
			<td>@Html.TextBoxFor(x => x.Username)</td>
			<td>@Html.ValidationMessageFor(x => x.Username)</td>
		</tr>
		<tr>
			<td>@Html.LabelFor(x => x.Password)</td>
			<td>@Html.PasswordFor(x => x.Password)</td>
			<td>@Html.ValidationMessageFor(x => x.Password)</td>
		</tr>
		<tr>
			<td></td>
			<td><a href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;">Login</a></td>
			<td><a href="Register">Register</a></td>
		</tr>
	</table>
}